<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    {% extends 'base.html'%}

    {% block content %}
    <div id="feature-list-container">
        <h3> List of amenities around you</h3>
        <ul id="feature-list"></ul>
    </div>
    
        <div id="map" style="height: 1200px; width: 1200px;"></div>
        
        {{ facilities|json_script:"facilities_json" }}
        {{ schools|json_script:"schools_json" }}
        {% if user.is_authenticated %}
        
        <script>
            var map = L.map('map').setView([-1.2921,36.8291], 13);    
            L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
                maxZoom: 19,
                attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
            }).addTo(map);
            
            map.on('click', function(event) {
                var lat = event.latlng.lat;
                var lng = event.latlng.lng;

                // Clear existing markers
                map.eachLayer(function(layer) {
                    if (layer instanceof L.Marker) {
                        map.removeLayer(layer);
                    }
                });

                // Add marker for the clicked location
                L.marker([lat, lng]).addTo(map);

                // Fetch features within the circle
                fetch(`/get-features/?latitude=${lat}&longitude=${lng}`)
                    .then(response => response.json())
                    .then(data => {
                        // Clear existing list
                        var featureListContainer = document.getElementById('feature-list');
                        featureListContainer.innerHTML = '';

                        // Populate the list with nearby amenities and add markers on the map
                        data.forEach(feature => {
                            var listItem = document.createElement('li');
                            listItem.textContent = feature.name;
                            featureListContainer.appendChild(listItem);

                            // Add marker for each facility
                            L.marker([feature.latitude, feature.longitude]).addTo(map);
                        });
                    });
            });
        </script>
        {% else %}
        <script>
            var map = L.map('map').setView([-1.2921,36.8291], 13);    
            L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
                maxZoom: 19,
                attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
            }).addTo(map);
        </script>
        {% endif %}

{% endblock %}

</body>
</html>